.section div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.section div a {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section div a img {
    margin: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    object-fit: contain;
}

img {
    vertical-align: middle;
}

.section div a p {
    margin-right: 15px;
}