@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Helvetica';
    src: url(./src/Helvetica.ttf);
}

:root {
    --blue0: #003B73;
    --blue1: #0074B7;
    --blue2: #60A3D9;
    --blue3: #BFD7ED;
    --yellow1: rgb(248, 249, 215);
    --body-color: rgb(235, 235, 235);
    --page-color: rgba(255, 245, 255, 0.8);
}

* {
    font-family: 'Helvetica';
    font-weight: thin;
}

body {
    margin: 15px;
    background-color: var(--body-color);
}

main {
    display: flex;
    padding: 0px 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.page {
    width: calc(100% - 30px);
    max-width: 100vw;
    min-height: 900px;
    background-color: var(--page-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all 1s;
}

.page>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    margin: 20px;
}

.name h1 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
}

.name h2 {
    font-size: 16px;
    font-weight: 400;
    color: rgb(110, 110, 110);
    font-style: italic;
}

.section {
    margin: 20px;
}

.section ion-icon {
    font-size: 30px;
    margin: 3px;
    color: rgb(53, 53, 53);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.section h1 {
    font-size: 16px;
    font-weight: 700;
}

.section div {
    margin: 5px;
    width: 100%;
    color: rgb(110, 110, 110);
    font-style: italic;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
}

.section div p {
    padding: 10px 0px;
}

.profilePhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;

    border-radius: 10px;

    margin-bottom: 2px;
}

.profilePhoto img {
    box-sizing: border-box;
    object-fit: contain;
    width: 150px;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profilePhoto div {
    box-sizing: border-box;
    min-width: 100%;
    font-size: 12px;
    padding: 4px;
    text-align: center;
    background-color: rgba(0, 0, 50, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 0px 15px;
    color: rgb(230, 230, 230);

    display: none;
}

.leftHeader {
    width: 150px;
    min-width: 150px;
}

.rightHeader {
    min-width: 40px;
}

.rightIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 40px;
    min-height: 40px;
    background-color: rgb(110, 110, 110);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 2px 0px;

    border-radius: 0px 15px 15px 0px;
}

.rightIcon ion-icon {
    font-size: 20px;
    color: white;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    background-color: rgba(255, 245, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 15px 0px 0px 15px;

    margin-bottom: 2px;

    filter: grayscale(1);
}

.category * {
    color: var(--blue0);
}

.category h1 {
    font-weight: bold;
    font-size: 13px;
    margin: 2px;
}

.category h2 {
    font-size: 10px;
    margin-bottom: 5px;
    font-style: italic;
}

.category ion-icon {
    font-size: 22px;
    margin: 8px;
}

.category:hover {
    background-color: var(--blue3);
    cursor: pointer;
}

.rightIcon:hover {
    background-color: var(--blue0);
    cursor: pointer;
}

main .leftHeader .selectedCategory {
    background-color: var(--blue0);
    filter: grayscale(0.6);
}

.selectedCategory * {
    color: var(--blue3);
}

.rotate {
    transform: rotateY(180deg);
}

.disabledLink {
    pointer-events: none;
}

@media (max-width: 850px) {
    main {
        flex-direction: column;
        width: 100%;
    }

    .profilePhoto {
        position: fixed;
        top: 0;
        left: 0;
    }

    .profilePhoto img {
        border-radius: 0px 0px 5px 5px;
        width: 110px;
    }

    .leftHeader,
    .rightHeader {
        display: flex;
        flex-direction: row;
        width: 100vw;
        position: fixed;
        left: 0;
    }

    .leftHeader {
        justify-content: flex-end;
        align-items: flex-end;
        bottom: 0;
        z-index: 1;
    }

    .rightHeader {
        justify-content: flex-end;
        align-items: flex-end;
        top: 0;
        z-index: 1;
    }

    .rightHeader a {
        margin: 0px 1px;
    }

    .category {
        min-width: calc(25vw - 20px);
        border-radius: 15px 15px 0px 0px;
        margin-bottom: 0;
    }

    .rightIcon {
        border-radius: 0px 0px 15px 15px;
        margin-top: 0;
    }

    .page {
        margin-bottom: 80px;
    }

    div a img {
        max-width: 90vw;
    }

    .name {
        margin-left: 80px;
    }

}